

body {
  font-size: 1.25em;
  line-height: 1.6em;
  margin: 0px;
  margin:0em;
  font-family: sans-serif;
  background-color:#F9F9F9;
}

/*Header*/

#header{
  height:750px;
  width:100%;
  background-position: center;
  background-size: cover;

}

@media (min-width:400px){
  #header{
    height:250px;
    background-image: url('../images/imgH350.png');
    background-size: cover;
  }
}

@media (min-width:560px){
  #header{
    height:350px;
    background-image: url('../images/img560.jpg');
    background-size: cover;
  }
}

@media (min-width:750px){
  #header{
    height:500px;
    background-image: url('../images/img750.jpg');
    background-size: cover;
  }
}

@media (min-width:1000px){
  #header{
    height:600px;
    background-image: url('../images/img1000.jpg');
    background-size: cover;
  }
}

@media (min-width:1400px){
  #header{
    height:750px;
    background-image: url('../images/image1.jpg');
    background-size: cover;
  }
}

#slogan{
  text-align: center;
  color: white;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
  padding-top: 2em;
}


@media (min-width:560px){
  #slogan{
    padding-top: 3em;
    font-size: 40px;
  }
}

@media (min-width:750px){
  #slogan{
    padding-top: 3em;
    font-size: 55px;
  }
}

@media (min-width:1000px){
  #slogan{
    padding-top: 4.5em;
    font-size: 55px;
  }
}

.top-padding{
  padding-top: 3em;
}
/*header end*/

/*button*/

.button{
  padding: 0.6em 1em;
  display: inline-block;
  background-color: #F44336;
  color: white;
  font-weight: 600;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  margin: 0 auto;
}

@media (max-width:500px){
  .button{
    padding: 0.3em 0.6em;
    display: inline-block;
    background-color: #F44336;
    color: white;
    font-weight: 400;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    margin: 0 auto;
  }
}

a {
    background-color: transparent;
}
style.css:51
a {
    display: inline-block;
}

.center
 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    max-width: 700px;
    width: 100%;
    text-align: center;
    color: white;
}



/*end of button*/

/*offices include homepage styling*/

#include{
  text-align: center;
  color:#F44336;
  font-weight: 100;
}

#OfficeInclude{
  background-color: white;
  position: relative;
  padding: 1em;
  with:100%;
}

#icons, .officeWrap{
  width:70%;
  margin-left: auto;
  margin-right: auto;
}

.icon-mrg{
  margin-bottom:0 auto;
  margin-top:0 auto;
}

/*offices*/

#off-title{
  text-align: center;
  color:#F44336;
  font-size: 40px;
  font-weight: 200;
  padding: 1em;
}

#offices{
  position: relative;
  padding: 1em;
}

#albany, #abbey, #feltrim, #meadows{
  text-align: center;
  width: 375px;
}

.officePrice{
  color:#F44336;
  display:inline;
  font-size: 35px;
  font-weight: 150;
}

.officeTitle{
  color:#F44336;
  font-size: 35px;
  font-weight: 200;
  margin: 0em;
  margin-top: 1em;
}









/* Start of Nav CSS */

#fixed-navbar{

	position:fixed;
	width:100%;
	top:0;
	height:50px;
	background-color:white;
	z-index:100;

}

#fixed-navbar ul{
	margin:8px 0px;
	letter-spacing:normal;
}

ul{
	display:inline-block;
	padding:0em;
	font-size:15px;
}

li{

	display:inline-block;

}

.proname{

	width:90%;
	max-width:1140px;
	margin:0em auto;
}



#fixed-navbar>div>div>a{

	font-size:20px;
	margin-top:10px;
	letter-spacing:normal;
  color: #F44336;

}

.button:hover{

    background-color:#E53935;

}

a{

	display:inline-block;
}



li+li{

	margin-left:20px;
}

@media (min-width:350px){
  #fixed-navbar a{

  	text-decoration:none;
  	color:white;
  }

  #fixed-navbar li>a.active{

  	padding:5px;
    color:#FF8A80;

  }

}

@media (min-width:560px){
  #fixed-navbar a{

  	text-decoration:none;
  	color:black;
  }

  #fixed-navbar li>a.active{

  	padding:5px;
    background-color:#F5F5F5;
    color:black;

  }

}





.custom-menu-wrapper {
    background-color: #808080;
    margin-bottom: 2.5em;
    white-space: nowrap;
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: 0em;
    padding-bottom: 0em;
}

.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
	margin-top:0px !important;
    right: 0;
    display: none;
}

.custom-menu-toggle .bar {
    background-color: black;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 4px;
    z-index: -1;
	height:50px;
}

.custom-menu-bottom{
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
	float:right;
}

@media (max-width: 35em) {

	.custom-menu-screen {
		background-color: rgba(0, 0, 0, 0.5);
		float:none;
	}
    .custom-menu {
        display: block;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 110%;
		left:0%;
        background-color: #808080\9;
        z-index: 100;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 50px;
		left:0%;
		height:0px;
        position: absolute;
        overflow: hidden;
    }

	.pure-menu-list{
		margin:12px 0px 8px 5% !important;
	}

}

/* End of Nav CSS */


/* contact page */

#h1EnquireText{
  text-align: center;
  color: #F44336;

}
#hrEnquire{
background-color: black;
height: 3px;
border: 0;
width: 30%;
text-align: right;


}
#form{

  margin: 0;
  padding-top: 2em;

}
#formInput{
   border: 1.5px solid #000;

    margin-bottom: 30px;

}

textarea::placeholder {
  color: lightgray;
  text-align: center;
}
input::placeholder {
  color: lightgray;

}
input,
span,
label,
textarea {
  font-family: sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

label.enquireLbl{
  z-index: 1;
}



input.question,
textarea.question {
  font-size: 30px;
  font-weight: 200;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background-color: : white;
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
  padding-top: 20px;
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 60px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 28px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}


@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

#formButton{
  padding: 0.6em 1em;

  background-color: #F44336;
  color: white;
  font-weight: 600;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);


}

#formButton:hover{

    background-color:#E53935;

}

/* Footer */
footer{
  padding-top: 100px;

}

#footer{
  background-color: #393d3e;

}
.footText{
  color: white;

}
.footText{
  color: white;


}
#flexFooter{

  text-align: right;
}
#footer2{
  background-color: #212121;
}
#enquireText{
  text-align: right;
}
#fbText{
  text-align: right;
}
.foot2Text{
  text-align: center;
  color: white;

}
#hrFooter{
  background-color: black;
  height: 3px;
  border: 0;
  width: 45%
}
#contactUsText{
  color: #F44336;
  text-decoration: underline;
  font-size: 30px;
}
/*map */
#map{
  height: 300px;
     overflow: hidden;
     padding-bottom: 22.25%;
     padding-top: 30px;
     position: relative;
}
#container{
  width: 50%;
  margin: 0 auto;
  margin-top:50px;
}
#map_wrapper {
    position: relative;
}
#copyRight{
  background-color: #212121;
  text-align: center;
}

#contactUs{
  text-align: center;
}
#enquireText{
  text-align: center;
}

#hrEnquire1{
  background-color: black;
  height: 3px;
  border: 0;
  width: 30%;
  text-align: center;
}

/* Prices page*/

#office-container{
  width:80%;
  margin-left:auto;
  margin-right:auto;
}





.image-size{
  width: 375px;
  height: 250px;

}
#image-Center{
  margin-left: auto;
  	margin-right: auto;
  	display: block;
}
#h1SuiteName{
  text-align: left;
}

.h1SuiteName{
  color: #F44336;
  display: inline;
  font-size: 35px;
  font-weight:lighter;
}

.pSuitAddress{
  display: inline;  /* using this to make the headings display on the same line not being used as a block element.*/
}

/*
.hrSuiteTitle{
  background-color: black;
  height: 3px;
  border: 0;
  width: 59.1%;
  margin-left:0;

}
*/

.enqiureText{
  display: inline;
  word-spacing: -1px;
}
.enquirePrice{
  display: inline;
  word-spacing: -15px;
  color: #F44336;
}

.btn-center{
  margin-left: auto;
  margin-right: auto;
  padding: 1em;

}



.textContainer{
  text-align: center;

}
.buttonSpace{
   margin:5px;
}
/* text center for mobile on price page */
@media (max-width:961px) {
  #content{
    text-align: center;
  }

}
/* The Albany Suite */
.suite-location{
  text-align: right;
}
.eircode{
  text-align: left;
}
#suite-icons{
  width: 70%;
margin-left: auto;
margin-right: auto;
text-align: center;
}

/* footer link color */
.fbLink{
  text-decoration: none;
}
.enquireLink{
  text-decoration: none;
}

/* index */
.textUnderline{
text-decoration: none; 
}
