/*flex.css v1.01*/
@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing: $box-model;
	box-sizing: $box-model;
}

$media-sm:568;
$media-md:768;
$media-lg:992;
$media-xl:1200;

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*Everything*/

.flex-5g, .flex-24g{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flexbox;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	word-wrap: break-word;
	@include box-sizing(border-box);
}

.flex-5g{
	@for $i from 1 through 5 {
	  &>.flex-#{$i} { width: (100%/5)*$i; }
	}
	@for $i from 1 through 4 {
	  &>.flex-off-#{$i} { margin-left: (100%/5)*$i; }
	}
}

.flex-24g{
	@for $i from 1 through 24 {
	  &>.flex-#{$i} { width: (100%/24)*$i; }
	}
	@for $i from 1 through 23 {
	  &>.flex-off-#{$i} { margin-left: (100%/24)*$i; }
	}
}

%all-flex-cols {
	display:inline-block;
	@include box-sizing(border-box);
	vertical-align:top;
}

@for $i from 1 through 24 {
	.flex-#{$i} { @extend %all-flex-cols;}
}

svg.responsive, img.responsive{
	max-width:100%;
}

video {
  width: 100%	!important;
  height: auto	!important;
}

.flex-vid{
	padding-bottom: 56.25%;
}

.flex-vid-4x3{
	padding-bottom: 75%;
}

.flex-vid, .flex-vid-4x3 {
	position: relative;
	height: 0;

	object, embed, iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.hidden{
	display: none !important;
}

/*Start of X-Small*/
@media (max-width: (($media-sm)-1)+px){
	.hidden-xs{
		display: none !important;
	}
}

@media (min-width: $media-sm) and (max-width: (($media-md)-1)+px){
	.hidden-sm{
		display: none !important;
	}
}

@media (min-width: $media-md) and (max-width: (($media-lg)-1)+px){
	.hidden-md{
		display: none !important;
	}
}

@media (min-width: $media-lg) and (max-width: (($media-xl)-1)+px){
	.hidden-lg{
		display: none !important;
	}
}

/*Start of Small*/
@media (min-width: $media-sm) {
	.flex-5g{
		@for $i from 1 through 5 {
		  &>.flex-sm-#{$i} { width: (100%/5)*$i; }
		}
		@for $i from 1 through 4 {
		  &>.flex-sm-off-#{$i} { margin-left: (100%/5)*$i; }
		}
	}
	.flex-24g{
		@for $i from 1 through 24 {
		  &>.flex-sm-#{$i} { width: (100%/24)*$i; }
		}
		@for $i from 1 through 23 {
		  &>.flex-sm-off-#{$i} { margin-left: (100%/24)*$i; }
		}
	}
}

/*Start of Medium*/
@media (min-width: $media-md) {
	.flex-5g{
		@for $i from 1 through 5 {
		  &>.flex-md-#{$i} { width: (100%/5)*$i; }
		}
		@for $i from 1 through 4 {
		  &>.flex-md-off-#{$i} { margin-left: (100%/5)*$i; }
		}
	}
	.flex-24g{
		@for $i from 1 through 24 {
		  &>.flex-md-#{$i} { width: (100%/24)*$i; }
		}
		@for $i from 1 through 23 {
		  &>.flex-md-off-#{$i} { margin-left: (100%/24)*$i; }
		}
	}
}

/*Start of Large*/
@media (min-width: $media-lg) {
	.flex-5g{
		@for $i from 1 through 5 {
		  &>.flex-lg-#{$i} { width: (100%/5)*$i; }
		}
		@for $i from 1 through 4 {
		  &>.flex-lg-off-#{$i} { margin-left: (100%/5)*$i; }
		}
	}
	.flex-24g{
		@for $i from 1 through 24 {
		  &>.flex-lg-#{$i} { width: (100%/24)*$i; }
		}
		@for $i from 1 through 23 {
		  &>.flex-lg-off-#{$i} { margin-left: (100%/24)*$i; }
		}
	}
}

/*Start of X-Large*/
@media (min-width: $media-xl){
	.flex-5g{
		@for $i from 1 through 5 {
		  &>.flex-xl-#{$i} { width: (100%/5)*$i; }
		}
		@for $i from 1 through 4 {
		  &>.flex-xl-off-#{$i} { margin-left: (100%/5)*$i; }
		}
	}
	.flex-24g{
		@for $i from 1 through 24 {
		  &>.flex-xl-#{$i} { width: (100%/24)*$i; }
		}
		@for $i from 1 through 23 {
		  &>.flex-xl-off-#{$i} { margin-left: (100%/24)*$i; }
		}
	}
	.hidden-xl{
		display: none !important;
	}
}
